<html><body><h1 style="color:aquamarine">

    Hola a todos desde la plantilla</h1>

    {% if nombre_yo == 'Javi' %}

    <p>El curso lo imparte el profesor titular</p>

    {% endif %}


    <p>El nombre del profe es: {{nombre_yo.upper}} {{apellido_yo.upper}}</p>
    <p>Estamos viendo las plantillas a d&iacute;a: {{momento_actual.day}} / {{momento_actual.month}}</p>

    <p><strong>Temas del curso:</strong></p>

    <p>
        <ul>
        {% if temas %}
            {% for el_tema in temas %}

                <li>{{el_tema}}</li>

            {% endfor %}
        {% else %}
            <p>No hay elementos en este tema    </p>
        {% endif %}
        </ul>
    </p>

</body></html>